#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    box-align: center
  }

  #navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    display: block;
  }
  
  li {
    float: left;
  }
  
  
  #navbar a:hover:not(.active) {
    background-color: rgb(175, 238, 238);
  }

  .sticky {
    position: fixed;
    top: 0;
    width 100%
    
  }

  h1 {
    padding-top: 100px;
  }